body {
	background-color: #2c3e50;
}

div.container {
	width: 100%;
	text-align: center;
}

div.pusher {
	height: 5em;
}

div.lar_tit {
	color: #2ecc71;
	font-size: 450%;
	font-family: 'Roboto Mono'
}

div.sub_tit {
	color: #bdc3c7;
	font-size: 300%;
    font-family: 'Lobster';
	padding-bottom: 5%;
}

div.in_mul {
	color: #95a5a6;
}

input.sca_res {
	color: #ecf0f1; 
	background-color: #7f8c8d;
	border-width: 0;
	font-size: 1.3em;
	width: 50%;
}
